In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
##load dataset
file = "data"

train_info_path = file + "/info_train.csv"
train_work_path = file + "/work_train.csv"
train_label_path = file + "/label_train.csv"

test_info_path = file + "/info_test.csv"
test_work_path = file + "/work_test.csv"
test_label_path = file + "/label_test.csv"


## data frame
train_info = pd.read_csv(train_info_path)
train_work = pd.read_csv(train_work_path)
train_label = pd.read_csv(train_label_path)

test_info = pd.read_csv(test_info_path)
test_work = pd.read_csv(test_work_path)
test_label = pd.read_csv(test_label_path)

In [5]:
## concat 
info = pd.concat([train_info, test_info],axis=0)

In [6]:
info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45636 entries, 0 to 18133
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   bithYear  45636 non-null  int64
 1   gender    45636 non-null  object
 2   address   21907 non-null  object
 3   id_bh     45636 non-null  int64
dtypes: int64(2), object(2)
memory usage: 1.7+ MB

## Process info['address']

In [9]:
info['address'] = info['address'].fillna(-99)
info['address'] = info.apply(lambda row: str(row.address).upper(), axis = 1)
info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45636 entries, 0 to 18133
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   bithYear  45636 non-null  int64
 1   gender    45636 non-null  object
 2   address   45636 non-null  object
 3   id_bh     45636 non-null  int64
dtypes: int64(2), object(2)
memory usage: 1.7+ MB

In [10]:
list_cols = {'address'}
for col in list_cols:
    print(f"<{col.upper()}>\n")
    print(f"Number unique values of {col}: {info[col].nunique()}\n")
    print(f"{info[col].value_counts()}\n")
    print(f"{info[col].unique()}\n")
    print(f"---------------------------------------------------------------------------\n")

<ADDRESS>

Number unique values of address: 1090

-99                   23729
VĨNH PHÚC              5275
BẮC GIANG              2905
NGHỆ AN                2363
HÀ NỘI                 1983
                      ...
2159                      1
3810                      1
4407                      1
0446                      1
YÊN LẠC  VĨNH PHÚC        1
Name: address, Length: 1090, dtype: int64

['HÀ NỘI' 'THÀNH PHỐ HÀ NỘI' '-99' ... 'TØNH B×NH PH\xadÍC' '.'
 'YÊN LẠC  VĨNH PHÚC']

---------------------------------------------------------------------------

In [34]:
from difflib import SequenceMatcher
def similar(a, b):
    a = str(a).upper().strip()
    b = str(b).upper().strip()
    rp_a = ''
    rp_b = ''
    for s in a.split(' '):
        rp_a += s
    for s in b.split(' '):
        rp_b += s
    return SequenceMatcher(None, rp_a, rp_b).ratio()

In [37]:
province_dict = {
    "An Giang": 1,
    "Kon Tum": 33,
"Bà Rịa – Vũng Tàu": 2,
"Lai Châu": 34,
"Bắc Giang"	: 3,
"Lâm Đồng": 35,
	"Bắc Kạn": 4,	
	"Lạng Sơn": 36,
	"Bạc Liêu": 5,	
	"Lào Cai": 37,
	"Bắc Ninh": 6, 	
	"Long An": 38,
	"Bến Tre": 7,	
	"Nam Định": 39,
	"Bình Định"	: 8,
	"Nghệ An": 40,
	"Bình Dương": 9	,
	"Ninh Bình": 41,
	"Bình Phước"	: 10,
	"Ninh Thuận": 42,
	"Bình Thuận"	: 11,
	"Phú Thọ": 43,
	"Cà Mau"	: 12,
	"Phú Yên": 44,
	"Cần Thơ"	: 13,
	"Quảng Bình": 45,
	"Cao Bằng"	: 14,
	"Quảng Nam" : 46,
	"Đà Nẵng" : 15,
	"Quảng Ngãi": 47,
	"Đắk Lắk"	: 16,
	"Quảng Ninh" : 48, 
	"Đắk Nông"	: 17,
	"Quảng Trị": 49,
	"Điện Biên"	: 18,
	"Sóc Trăng": 50,
	"Đồng Nai"	: 19,
	"Sơn La": 51,
	"Đồng Tháp"	: 20,
	"Tây Ninh": 52,
	"Gia Lai"	: 21,
	"Thái Bình": 53,
	"Hà Giang"	: 22,
	"Thái Nguyên": 54,
	"Hà Nam"	: 23,
	"Thanh Hóa": 55,
	"Hà Nội"	: 24,
	"Thừa Thiên Huế": 56,
	"Hà Tĩnh"	: 25,
	"Tiền Giang": 57,
	"Hải Dương"	: 26,
	"TP Hồ Chí Minh" : 58,
	"Hải Phòng"	: 27, 
	"Trà Vinh": 59,
	"Hậu Giang"	: 28,
	"Tuyên Quang": 60, 
	"Hòa Bình"	: 29,
	"Vĩnh Long": 61,
	"Hưng Yên"	: 30,
	"Vĩnh Phúc": 62,
	"Khánh Hòa"	: 31,
	"Yên Bái": 63,
	"Kiên Giang": 32	 	 
}

In [39]:
## caculate similarity
for k, v in province_dict.items():
    col_name = str(v)
    info[col_name] = info.apply(lambda row: similar( row.address, k), axis = 1)

In [49]:
## caculate max similarity
province_id = list(range(1,64))
province_col_name  = [str(x) for x in province_id]
info['max_similar_score'] = info[province_col_name].max(axis= 1)
info['province_id'] = info[province_col_name].idxmax(axis= 1)

In [54]:
## thresh hold = 0.5
info['new_province_id']  = info.apply(lambda row: row.province_id if row.max_similar_score > 0.5 else -999, axis = 1)

In [59]:
## encode gender male -1, female -0
gender_dict ={"MALE":1 ,
 "FEMALE": 0}
info['gender'] = info['gender'].replace(gender_dict)

In [61]:
info.columns

Index(['bithYear', 'gender', 'address', 'id_bh', '1', '33', '2', '34', '3',
       '35', '4', '36', '5', '37', '6', '38', '7', '39', '8', '40', '9', '41',
       '10', '42', '11', '43', '12', '44', '13', '45', '14', '46', '15', '47',
       '16', '48', '17', '49', '18', '50', '19', '51', '20', '52', '21', '53',
       '22', '54', '23', '55', '24', '56', '25', '57', '26', '58', '27', '59',
       '28', '60', '29', '61', '30', '62', '31', '63', '32',
       'max_similar_score', 'province_id', 'new_province_id'],
      dtype='object')

In [62]:
info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45636 entries, 0 to 18133
Data columns (total 70 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   bithYear           45636 non-null  int64
 1   gender             45636 non-null  int64
 2   address            45636 non-null  object
 3   id_bh              45636 non-null  int64
 4   1                  45636 non-null  float64
 5   33                 45636 non-null  float64
 6   2                  45636 non-null  float64
 7   34                 45636 non-null  float64
 8   3                  45636 non-null  float64
 9   35                 45636 non-null  float64
 10  4                  45636 non-null  float64
 11  36                 45636 non-null  float64
 12  5                  45636 non-null  float64
 13  37                 45636 non-null  float64
 14  6                  45636 non-null  float64
 15  38                 45636 non-null  float64
 16  7                  45636 non-null  float64
 17  39                 45636 non-null  float64
 18  8                  45636 non-null  float64
 19  40                 45636 non-null  float64
 20  9                  45636 non-null  float64
 21  41                 45636 non-null  float64
 22  10                 45636 non-null  float64
 23  42                 45636 non-null  float64
 24  11                 45636 non-null  float64
 25  43                 45636 non-null  float64
 26  12                 45636 non-null  float64
 27  44                 45636 non-null  float64
 28  13                 45636 non-null  float64
 29  45                 45636 non-null  float64
 30  14                 45636 non-null  float64
 31  46                 45636 non-null  float64
 32  15                 45636 non-null  float64
 33  47                 45636 non-null  float64
 34  16                 45636 non-null  float64
 35  48                 45636 non-null  float64
 36  17                 45636 non-null  float64
 37  49                 45636 non-null  float64
 38  18                 45636 non-null  float64
 39  50                 45636 non-null  float64
 40  19                 45636 non-null  float64
 41  51                 45636 non-null  float64
 42  20                 45636 non-null  float64
 43  52                 45636 non-null  float64
 44  21                 45636 non-null  float64
 45  53                 45636 non-null  float64
 46  22                 45636 non-null  float64
 47  54                 45636 non-null  float64
 48  23                 45636 non-null  float64
 49  55                 45636 non-null  float64
 50  24                 45636 non-null  float64
 51  56                 45636 non-null  float64
 52  25                 45636 non-null  float64
 53  57                 45636 non-null  float64
 54  26                 45636 non-null  float64
 55  58                 45636 non-null  float64
 56  27                 45636 non-null  float64
 57  59                 45636 non-null  float64
 58  28                 45636 non-null  float64
 59  60                 45636 non-null  float64
 60  29                 45636 non-null  float64
 61  61                 45636 non-null  float64
 62  30                 45636 non-null  float64
 63  62                 45636 non-null  float64
 64  31                 45636 non-null  float64
 65  63                 45636 non-null  float64
 66  32                 45636 non-null  float64
 67  max_similar_score  45636 non-null  float64
 68  province_id        45636 non-null  object
 69  new_province_id    45636 non-null  object
dtypes: float64(64), int64(3), object(3)
memory usage: 24.7+ MB

In [63]:
use_cols = [
    'id_bh',
    'bithYear', 
    'gender',
    'new_province_id'
]

In [64]:
new_info = info[use_cols]

In [66]:
train_info_last = new_info[:len(train_info)]
test_info_last = new_info[len(train_info):]

In [67]:
train_info_last.shape, test_info_last.shape

((27502, 4), (18134, 4))

In [70]:
train_info_last.to_csv(r"data/processed_data/train_info.csv")
test_info_last.to_csv(r"data/processed_data/test_info.csv")

In [ ]:
# text = re.sub(r'(SÀI GÒN)|(TPHCM)|(HCM)|(TP HCM)','TP HỒ CHÍ MINH',text) #Change some symnonyms
# text = re.sub(r'(HN)','HÀ NỘI',text)