In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [3]:
##load dataset
file = "data"

train_info_path = file + "/info_train.csv"
train_work_path = file + "/work_train.csv"
train_label_path = file + "/label_train.csv"

test_info_path = file + "/info_test.csv"
test_work_path = file + "/work_test.csv"
test_label_path = file + "/label_test.csv"


## data frame
train_info = pd.read_csv(train_info_path)
train_work = pd.read_csv(train_work_path)
train_label = pd.read_csv(train_label_path)

test_info = pd.read_csv(test_info_path)
test_work = pd.read_csv(test_work_path)
test_label = pd.read_csv(test_label_path)

In [4]:
train_work.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247559 entries, 0 to 247558
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             247559 non-null  int64
 1   id_bh          247559 non-null  int64
 2   id_management  247559 non-null  int64
 3   id_office      235391 non-null  object
 4   company_type   247559 non-null  int64
 5   job/role       214102 non-null  object
 6   from_date      247559 non-null  int64
 7   to_date        247559 non-null  int64
 8   employee_lv    247554 non-null  float64
 9   address        183528 non-null  object
dtypes: float64(1), int64(6), object(3)
memory usage: 18.9+ MB

In [5]:
test_work.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162283 entries, 0 to 162282
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             162283 non-null  int64
 1   id_bh          162283 non-null  int64
 2   id_management  162283 non-null  int64
 3   id_office      154300 non-null  object
 4   company_type   162283 non-null  int64
 5   job/role       140198 non-null  object
 6   from_date      162283 non-null  int64
 7   to_date        162283 non-null  int64
 8   employee_lv    162280 non-null  float64
 9   address        120728 non-null  object
dtypes: float64(1), int64(6), object(3)
memory usage: 12.4+ MB

In [6]:
train_work.head(20)

,id,id_bh,id_management,id_office,company_type,job/role,from_date,to_date,employee_lv,address
0,1,113039360,106,TF2212F,-1,Giám đốc,20130100,20151200,7.0,Hà Nội
1,1,113039360,106,TF2212F,-1,Giám đốc,20160100,20220400,10.0,Hà Nội
2,2,116074930,102,TB16010,-1,Nhân viên lễ tân,20160600,20161200,7.0,Hà Nội
3,2,116074930,102,TB16010,-1,Nhân viên lễ tân,20170100,20170300,8.0,Hà Nội
4,2,116074930,102,NaN,-1,NaN,20170400,20170700,-1.0,NaN
5,2,116074930,102,TB16010,-1,Nhân viên Sales Admin,20170800,20191200,8.0,Hà Nội
6,2,116074930,102,TB16010,-1,Nhân viên Sales Admin,20200100,20200600,9.0,Việt Nam
7,2,116074930,102,TB16010,-1,NaN,20200700,20201200,9.0,NaN
8,2,116074930,102,TB16010,-1,Nhân viên Sales Admin,20210100,20210100,9.0,Hà Nội
9,4,203060233,102,CB16291,-1,Kế toán,20030300,20050900,1.0,NaN
10,4,203060233,102,NaN,-1,NaN,20051000,20070900,-1.0,NaN
11,4,203060233,102,CB16291,-1,Phó giám đốc,20071000,20071200,1.0,TP Hà Nội
12,4,203060233,102,CB16291,-1,Phó giám đốc,20080100,20081200,2.0,TP Hà Nội
13,4,203060233,102,CB16291,-1,Phó giám đốc,20090100,20100600,3.0,NaN
14,4,203060233,102,NaN,-1,NaN,20100700,20100800,-1.0,NaN
15,4,203060233,102,TB0280B,-1,Phó giám đốc,20100900,20101200,3.0,Hà Nội
16,4,203060233,102,TB0280B,-1,Phó giám đốc,20110100,20110900,4.0,Hà Nội
17,4,203060233,102,TB0280B,-1,Phó giám đốc,20111000,20131200,5.0,Hà Nội
18,4,203060233,102,TB0280B,-1,Phó giám đốc,20140100,20141200,6.0,Hà Nội
19,4,203060233,102,TB0280B,-1,Phó giám đốc,20150100,20151200,7.0,Hà Nội

In [7]:
## concat 
work = pd.concat([train_work, test_work],axis=0)

## 1. Address

In [8]:
train_work['address'].value_counts().to_csv("address_work")

In [9]:
## format text
def preprocess_address(add):
    add = re.sub(r'(SÀI GÒN)|(TPHCM)|(HCM)|(TP HCM)','TP HỒ CHÍ MINH',add) #Change some symnonyms
    add = re.sub(r'(HN)','HÀ NỘI',add)
    add = re.sub(r'(BG)','BẮC GIANG',add)
    # Remove some special characters
    add = re.sub(r'([\;\:\|•«\n])', ' ', add)
    return add
## upper word
work['address'] = work['address'].fillna(-99)
work['address'] = work.apply(lambda row: str(row.address).upper(), axis = 1)
work['address'] = work.apply(lambda row: preprocess_address(row.address), axis = 1)

In [10]:
from difflib import SequenceMatcher
def similar(a, b):
    a = str(a).upper().strip()
    b = str(b).upper().strip()
    rp_a = ''
    rp_b = ''
    for s in a.split(' '):
        rp_a += s
    for s in b.split(' '):
        rp_b += s
    return SequenceMatcher(None, rp_a, rp_b).ratio()
## province dict
province_dict = {
    "An Giang": 1,
    "Kon Tum": 33,
"Bà Rịa – Vũng Tàu": 2,
"Lai Châu": 34,
"Bắc Giang"	: 3,
"Lâm Đồng": 35,
	"Bắc Kạn": 4,	
	"Lạng Sơn": 36,
	"Bạc Liêu": 5,	
	"Lào Cai": 37,
	"Bắc Ninh": 6, 	
	"Long An": 38,
	"Bến Tre": 7,	
	"Nam Định": 39,
	"Bình Định"	: 8,
	"Nghệ An": 40,
	"Bình Dương": 9	,
	"Ninh Bình": 41,
	"Bình Phước"	: 10,
	"Ninh Thuận": 42,
	"Bình Thuận"	: 11,
	"Phú Thọ": 43,
	"Cà Mau"	: 12,
	"Phú Yên": 44,
	"Cần Thơ"	: 13,
	"Quảng Bình": 45,
	"Cao Bằng"	: 14,
	"Quảng Nam" : 46,
	"Đà Nẵng" : 15,
	"Quảng Ngãi": 47,
	"Đắk Lắk"	: 16,
	"Quảng Ninh" : 48, 
	"Đắk Nông"	: 17,
	"Quảng Trị": 49,
	"Điện Biên"	: 18,
	"Sóc Trăng": 50,
	"Đồng Nai"	: 19,
	"Sơn La": 51,
	"Đồng Tháp"	: 20,
	"Tây Ninh": 52,
	"Gia Lai"	: 21,
	"Thái Bình": 53,
	"Hà Giang"	: 22,
	"Thái Nguyên": 54,
	"Hà Nam"	: 23,
	"Thanh Hóa": 55,
	"Hà Nội"	: 24,
	"Thừa Thiên Huế": 56,
	"Hà Tĩnh"	: 25,
	"Tiền Giang": 57,
	"Hải Dương"	: 26,
	"TP Hồ Chí Minh" : 58,
	"Hải Phòng"	: 27, 
	"Trà Vinh": 59,
	"Hậu Giang"	: 28,
	"Tuyên Quang": 60, 
	"Hòa Bình"	: 29,
	"Vĩnh Long": 61,
	"Hưng Yên"	: 30,
	"Vĩnh Phúc": 62,
	"Khánh Hòa"	: 31,
	"Yên Bái": 63,
	"Kiên Giang": 32	 	 
}

In [11]:
## caculate similarity
for k, v in province_dict.items():
    col_name = str(v)
    work[col_name] = work.apply(lambda row: similar( row.address, k), axis = 1)

In [12]:
## caculate max similarity
province_id = list(range(1,64))
province_col_name  = [str(x) for x in province_id]
work['max_similar_score'] = work[province_col_name].max(axis= 1)
work['work_province_id'] = work[province_col_name].idxmax(axis= 1)

## thresh hold = 0.5
work['new_work_province_id']  = work.apply(lambda row: row.work_province_id if row.max_similar_score > 0.5 else -999, axis = 1)

##### use col: new_work_province_id (address cu)

## 2. employee_lv

In [13]:
work['employee_lv'].value_counts().to_csv("employ_lv.csv")

In [14]:
## outlier : -1, 331, 369 - Nan dien la -1
work['employee_lv'] = work['employee_lv'].fillna(-1)
work['employee_lv'] = work['employee_lv'].apply(lambda x: x if(x < 300) else -1 )
work['employee_lv'].describe()

count    409842.000000
mean          8.109388
std           6.947890
min          -1.000000
25%           5.000000
50%           7.000000
75%           9.000000
max          59.000000
Name: employee_lv, dtype: float64

## 3. date (create new fea - num_day_work) - from_date, to_date

In [15]:
date = '20130100'
date[:4], int(date[4:6])

('2013', 1)

In [16]:
# work[['from_date', 'to_date']].head(20)
work['year_from_date'] = work.apply(lambda row: int(str(row.from_date)[:4]), axis = 1)
work['year_to_date'] = work.apply(lambda row: int(str(row.to_date)[:4]), axis = 1)
work['month_from_date'] = work.apply(lambda row: int(str(row.from_date)[4:6]), axis = 1)
work['month_to_date'] = work.apply(lambda row: int(str(row.to_date)[4:6]), axis = 1)

In [17]:
## create feature: num_year_contract, num_month_contract
work['num_year_contract'] = work['year_to_date'] - work['year_from_date']
work['num_month_contract'] = work.apply(lambda row:
           abs((row.year_to_date - row.year_from_date) * 12 + (row.month_to_date - row.month_from_date)), axis = 1
)

In [18]:
work[['from_date','to_date','year_from_date', 'year_to_date', 
'month_from_date', 'month_to_date', 'num_year_contract', 'num_month_contract'
]].describe()

,from_date,to_date,year_from_date,year_to_date,month_from_date,month_to_date,num_year_contract,num_month_contract
count,4.098420e+05,4.098420e+05,409842.000000,409842.000000,409842.000000,409842.000000,409842.000000,409842.000000
mean,2.014827e+07,2.015701e+07,2014.775718,2015.624145,5.080307,7.660281,0.848427,12.761098
std,5.794083e+04,5.538133e+04,5.800276,5.545428,3.779333,3.804081,1.229122,14.129194
min,1.968110e+07,1.975080e+07,1968.000000,1975.000000,1.000000,1.000000,0.000000,0.000000
25%,2.012030e+07,2.013060e+07,2012.000000,2013.000000,1.000000,4.000000,0.000000,4.000000
50%,2.016100e+07,2.017070e+07,2016.000000,2017.000000,4.000000,8.000000,0.000000,9.000000
75%,2.019030e+07,2.020030e+07,2019.000000,2020.000000,9.000000,12.000000,1.000000,17.000000
max,2.022040e+07,2.031100e+07,2022.000000,2031.000000,12.000000,12.000000,38.000000,459.000000

##### use_Cols = 
['from_date','to_date','year_from_date', 'year_to_date', 
'month_from_date', 'month_to_date', 'num_year_contract', 'num_month_contract'
]

## 4. job/role

In [19]:
# work['job/role'].value_counts().to_csv("job_role.csv")

In [20]:
## label enconder
# work['job_role_encode'],_ = work['job/role'].factorize()
# work['job/role'] = work['job/role'].fillna(-999)
# work['job_role_encode'] = work['job_role_encode'].fillna(-999)
# work['job_role_encode'] = work['job_role_encode'].astype('category')

In [21]:
## use cols: job/role, job_role_encode

## 5. company_type

In [22]:
## k co null
work['company_type'] = work['company_type'].astype('category')

In [23]:
## usecol: company_type

## 6. id_management

In [24]:
# work['id_management'] = work['id_management'].fillna(-999)
# work['id_management'] = work['id_management'].astype('category')

## 7. id_office

In [25]:
work['id_office'].value_counts()

YN0042Z    19345
HZ0000Z    13309
YN0023Z     9240
YN0021Z     6468
YN0114Z     5506
           ...
TI0494I        1
YV0119A        1
TG3753G        1
TG1782G        1
TC0885C        1
Name: id_office, Length: 17271, dtype: int64

In [26]:
isinstance('asdasd', str)

True

In [27]:
work['two_1stchar_id_office'] = work.apply(lambda row: row.id_office[:2] if (isinstance(row.id_office, str))
                else row.id_office
 , axis = 1)
work['last_char_id_office'] = work.apply(lambda row: row.id_office[-1] if (isinstance(row.id_office, str))
            else row.id_office
, axis = 1)

In [28]:
## label and fill nan
## label enconder
# work['id_office_encode'],_ = work['id_office'].factorize()
# work['id_office'] = work['id_office'].fillna(-999)
# work['id_office_encode'] = work['id_office_encode'].fillna(-999)
# work['id_office_encode'] = work['id_office_encode'].astype('category')

In [29]:
# work['two_1stchar_id_office'] = work['two_1stchar_id_office'].fillna(-999)
# work['last_char_id_office'] = work['last_char_id_office'].fillna(-999)

In [30]:
# work[['id_office', 'two_1stchar_id_office', 'last_char_id_office']]

In [31]:
work[['id_office']].value_counts()

id_office
YN0042Z      19345
HZ0000Z      13309
YN0023Z       9240
YN0021Z       6468
YN0114Z       5506
             ...
TZ0170Z          1
TZ01719          1
TZ0171Z          1
QW13178          1
TO8464O          1
Length: 17271, dtype: int64

In [32]:
# use_Cols = ['id_office', 'id_office_encode', 'two_1stchar_id_office', 'last_char_id_office'
# ]

In [33]:
## useful cols 
use_cols = [
    'id',
    'id_bh',
    'new_work_province_id',
    'employee_lv',
    'from_date','to_date','year_from_date', 'year_to_date', 
    'month_from_date', 'month_to_date', 'num_year_contract', 'num_month_contract',
    "job/role", 
    "company_type",
    "id_management",
    "id_office"
]

In [34]:
export_work = work[use_cols]
export_work.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 409842 entries, 0 to 162282
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    409842 non-null  int64
 1   id_bh                 409842 non-null  int64
 2   new_work_province_id  409842 non-null  object
 3   employee_lv           409842 non-null  float64
 4   from_date             409842 non-null  int64
 5   to_date               409842 non-null  int64
 6   year_from_date        409842 non-null  int64
 7   year_to_date          409842 non-null  int64
 8   month_from_date       409842 non-null  int64
 9   month_to_date         409842 non-null  int64
 10  num_year_contract     409842 non-null  int64
 11  num_month_contract    409842 non-null  int64
 12  job/role              354300 non-null  object
 13  company_type          409842 non-null  category
 14  id_management         409842 non-null  int64
 15  id_office             389691 non-null  object
dtypes: category(1), float64(1), int64(11), object(3)
memory usage: 50.4+ MB

## cluster job/role

In [35]:
## cluster job role
from sklearn.feature_extraction.text import TfidfVectorizer
export_work['job_role_fillNan'] = export_work['job/role'].fillna("none")
vectorizer = TfidfVectorizer(
    ngram_range = (1,2),
        min_df=5, 
    max_df= 0.8, 
    max_features=1000,
    sublinear_tf=True
)
job_role = export_work['job_role_fillNan'].values
X_job_role = vectorizer.fit_transform(job_role)

C:\Users\Toan\AppData\Local\Temp/ipykernel_19764/453157816.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  export_work['job_role_fillNan'] = export_work['job/role'].fillna("none")

In [36]:
from sklearn.cluster import KMeans
from sklearn import metrics
from scipy.spatial.distance import cdist
import numpy as np
import matplotlib.pyplot as plt

In [38]:
kmeanModel = KMeans(n_clusters=300, random_state = 2022).fit(X_job_role) 
kmeanModel.labels_

array([ 12,  12,   7, ...,  41, 292, 292])

In [39]:
export_work['job_role_encode_knn'] = kmeanModel.labels_

C:\Users\Toan\AppData\Local\Temp/ipykernel_19764/3463333387.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  export_work['job_role_encode_knn'] = kmeanModel.labels_

In [42]:
export_work.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 409842 entries, 0 to 162282
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    409842 non-null  int64
 1   id_bh                 409842 non-null  int64
 2   new_work_province_id  409842 non-null  object
 3   employee_lv           409842 non-null  float64
 4   from_date             409842 non-null  int64
 5   to_date               409842 non-null  int64
 6   year_from_date        409842 non-null  int64
 7   year_to_date          409842 non-null  int64
 8   month_from_date       409842 non-null  int64
 9   month_to_date         409842 non-null  int64
 10  num_year_contract     409842 non-null  int64
 11  num_month_contract    409842 non-null  int64
 12  job/role              354300 non-null  object
 13  company_type          409842 non-null  category
 14  id_management         409842 non-null  int64
 15  id_office             389691 non-null  object
 16  job_role_fillNan      409842 non-null  object
 17  job_role_encode_knn   409842 non-null  int32
dtypes: category(1), float64(1), int32(1), int64(11), object(4)
memory usage: 55.1+ MB

In [46]:
train_export_work = export_work[:len(train_work)]
test_export_work = export_work[len(train_work):]

In [48]:
##  encoder cho : id_office , id_management     --> sau do Fill nan -999  
from sklearn.preprocessing import  OrdinalEncoder   
cols = ['id_office']
encoder = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-999)
train_export_work[cols] = encoder.fit_transform(train_export_work[cols].to_numpy().reshape(-1, 1))
test_export_work[cols] = encoder.transform(test_export_work[cols].to_numpy().reshape(-1, 1))

C:\Users\Toan\anaconda3\envs\ml_com\lib\site-packages\pandas\core\frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
C:\Users\Toan\anaconda3\envs\ml_com\lib\site-packages\pandas\core\frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)

In [49]:
cols = ['id_management']
encoder = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-999)
train_export_work[cols] = encoder.fit_transform(train_export_work[cols].to_numpy().reshape(-1, 1))
test_export_work[cols] = encoder.transform(test_export_work[cols].to_numpy().reshape(-1, 1))

C:\Users\Toan\anaconda3\envs\ml_com\lib\site-packages\pandas\core\frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
C:\Users\Toan\anaconda3\envs\ml_com\lib\site-packages\pandas\core\frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)

In [52]:
## fill nan -999 id_office             
train_export_work['id_office'] = train_export_work['id_office'].fillna(-999)
test_export_work['id_office'] = test_export_work['id_office'].fillna(-999)

C:\Users\Toan\AppData\Local\Temp/ipykernel_19764/27997092.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_export_work['id_office'] = train_export_work['id_office'].fillna(-999)
C:\Users\Toan\AppData\Local\Temp/ipykernel_19764/27997092.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_export_work['id_office'] = test_export_work['id_office'].fillna(-999)

In [54]:
test_export_work.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 162283 entries, 0 to 162282
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    162283 non-null  int64
 1   id_bh                 162283 non-null  int64
 2   new_work_province_id  162283 non-null  object
 3   employee_lv           162283 non-null  float64
 4   from_date             162283 non-null  int64
 5   to_date               162283 non-null  int64
 6   year_from_date        162283 non-null  int64
 7   year_to_date          162283 non-null  int64
 8   month_from_date       162283 non-null  int64
 9   month_to_date         162283 non-null  int64
 10  num_year_contract     162283 non-null  int64
 11  num_month_contract    162283 non-null  int64
 12  job/role              140198 non-null  object
 13  company_type          162283 non-null  category
 14  id_management         162283 non-null  float64
 15  id_office             162283 non-null  float64
 16  job_role_fillNan      162283 non-null  object
 17  job_role_encode_knn   162283 non-null  int32
dtypes: category(1), float64(3), int32(1), int64(10), object(3)
memory usage: 21.8+ MB

In [55]:
train_export_work.to_csv(r"data/processed_data/train_work.csv")
test_export_work.to_csv(r"data/processed_data/test_work.csv")